In [9]:
import pandas as pd
import matplotlib as plt

df_despesas = pd.read_excel('./limpo/despesas_limpo.xlsx')
df_orcamentos = pd.read_excel('./limpo/orcamentos_limpo.xlsx')

In [10]:
# Visualização despesas

df_despesas

,id_despesas,data,tipo,setor,valor,fornecedor
0,1,2024-08-18,salário,financeiro,11670.10,teixeira
1,2,2024-09-15,água,logística,17394.82,nunes
2,3,2024-08-22,água,financeiro,19787.46,moura_s/a
3,4,2024-09-02,compra_matéria-prima,produção,2159.77,barros
4,5,2025-02-02,internet,rh,7390.20,mendes_ei
...,...,...,...,...,...,...
195,196,2024-10-03,energia,produção,15225.10,da_cunha_mendes_e_filhos
196,197,2024-07-19,salário,rh,16460.68,pires_e_filhos
197,198,2024-10-27,água,financeiro,12795.28,nascimento
198,199,2024-08-17,compra_matéria-prima,logística,9634.17,da_costa
199,200,2025-03-10,salário,produção,13022.00,porto_me

In [11]:
# Como estão distribuídas as despesas mensais por área (RH, transporte, comercial...)?

valor_por_setor = df_despesas.groupby('setor')['valor'].value_counts()

print(valor_por_setor)

setor      valor
comercial  1026.10      1
           1259.12      1
           1396.90      1
           1884.31      1
           2048.67      1
                       ..
rh         16694.14     1
           17243.94     1
           17475.57     1
           18170.31     1
           103679.40    1
Name: count, Length: 191, dtype: int64

In [12]:
# Visualização orcamentos

df_orcamentos

         setor  mes   ano  valor_previsto  valor_realizado
0     producão    1  2024        14045.42         15524.52
1     producão    2  2024        42597.50         45075.42
2     producão    3  2024        39491.52         44155.59
3     producão    4  2024        52992.06         59965.36
4     producão    5  2024        16198.93         15988.45
..         ...  ...   ...             ...              ...
115  comercial    8  2025        73532.49         63496.66
116  comercial    9  2025        46526.55        270703.31
117  comercial   10  2025        42068.07         43491.56
118  comercial   11  2025        79706.26         92876.93
119  comercial   12  2025         5122.75          5623.75

[120 rows x 5 columns]