In [1]:
import pandas as pd

df = pd.read_excel('./base/despesas.xlsx')

In [2]:
# Padronizar textos

df['setor'] = df['setor'].str.lower().str.strip().str.replace(' ', '_')
df['tipo'] = df['tipo'].str.lower().str.strip().str.replace(' ', '_').str.replace('compra_matéria-prima', "matéria-prima")
df['fornecedor'] = df['fornecedor'].str.lower().str.strip().str.replace(' ', '_').str.replace('_-_', '_')

In [3]:
# Milisegundos para data

df['data'] = pd.to_datetime(df['data'], unit='ms',  )
df['trimestre'] = df['data'].dt.quarter
df['mensal'] = df['data'].dt.month

In [4]:
df.to_excel('./limpo/despesas_limpo.xlsx', index=False)

In [5]:
df = pd.read_excel('./base/orcamentos.xlsx')

In [6]:
# Visualizar

display(df)

df.info()

         setor  mes   ano  valor_previsto  valor_realizado
0     Produção    1  2024        14045.42     15524.519752
1     Produção    2  2024        42597.50     45075.424647
2     Produção    3  2024        39491.52     44155.593318
3     Produção    4  2024        52992.06     59965.364892
4     Produção    5  2024        16198.93     15988.451455
..         ...  ...   ...             ...              ...
115  Comercial    8  2025        73532.49     63496.657091
116  Comercial    9  2025        46526.55    270703.309654
117  Comercial   10  2025        42068.07     43491.557474
118  Comercial   11  2025        79706.26     92876.931597
119  Comercial   12  2025         5122.75      5623.751964

[120 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   setor            120 non-null    object
 1   mes              120 non-null    int64
 2   ano              120 non-null    int64
 3   valor_previsto   120 non-null    float64
 4   valor_realizado  120 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 4.8+ KB

In [7]:
# Padronizar textos

df['setor'] = df['setor'].str.lower().str.strip().str.replace(' ', '_').str.replace('ç', 'c')

In [8]:
# Apenas 2 digitos apos o ponto

df['valor_realizado'] = df['valor_realizado'].round(2)

In [9]:
# Ano e mês para data timestamp 

df['data'] = pd.to_datetime(df['ano'].astype(str) + '-' + df['mes'].astype(str) + '-01')
df['trimestre'] = df['data'].dt.quarter

In [10]:
df.to_excel('./limpo/orcamentos_limpo.xlsx', index=False)